/*

Theme Stylesheet
A file containing theme settings to be used as variables throughout the environment.
Matthew Brewer - 7/24/2019

*/

// Light Background Colors

$background-light: #FFFFFF;
$background-grey: #f7f7f7;
$background-dark-grey: #E0E0E0;

// Primary Theme Colors

$theme-primary: #0063A7;
$theme-primary-dark: #00548C;
$theme-primary-light: #0073BF;
$theme-primary-faint: RGBA(0, 94, 164, 0.05);
$theme-primary-very-light: RGBA(0, 94, 164, 0.1);

// Misc Theme Colors

$white: #FFFFFF;
$light-grey: #DADCE0;
$grey: #BDBDBD;

// Text Colors

$text-white: #FFF;
$text-grey: #646464;
$text-black: #222;
